aiohttp==3.8.4
aiosignal==1.3.1
argcomplete==2.0.0
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
configparser==6.0.0
croniter==1.3.5
exceptiongroup==1.2.0
filelock==3.9.0
frozenlist==1.3.3
h11==0.14.0
idna==3.4
multidict==6.0.4
openai==0.27.2
outcome==1.3.0.post0
packaging==21.3
pipx==1.1.0
progress==1.6
pycryptodome==3.17
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-http-client==3.3.7
PyYAML==6.0.1
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
selenium==4.16.0
sendgrid==6.11.0
sh==1.14.3
shtab==1.5.5
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spotify-quick-styx==3.6.2
starkbank-ecdsa==2.2.0
strsimpy==0.2.1
tqdm==4.65.0
trio==0.23.2
trio-websocket==0.11.1
uriutil==0.1.7
urllib3==1.26.15
userpath==1.8.0
webdriver-manager==4.0.1
wsproto==1.2.0
yarl==1.8.2
